
#dishes {
    /*     border: solid 1px red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 66vw;
}

.single--dish {
    background-color: rgb(68, 68, 68);
 /*    border: solid 3px white; */
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 26%;
}

.single--dish__image {
    align-items: center;
    align-self: center;
    display: flex;
    height: 150px;
    justify-content: center;
    width: 150px;
}

.image--file {
    border: solid 3px black;
    height: 90%;
    width: auto;
}

.single--dish h3 {
    border: none;
    text-align: center;
}

.single--dish__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.showRecipe_btn {
    margin-top: 20px;
    width: auto;
}