#content--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 82vw;
}

#content--container #dishes {
  align-items: center;
  border: solid 2px red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  min-height: 200px;
  width: 72%;
}

#content--container #dishes .single--dish {
  background-color: #444444;
  /*             background: linear-gradient(#080808, rgb(135, 133, 160), #00010b); */
  background: radial-gradient(farthest-corner at 20% 20%, #b4b1b1, black);
  border: solid 3px white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin: 10px;
  padding: 10px;
  width: 22%;
}

#content--container #dishes .single--dish__image {
  align-items: center;
  align-self: center;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 150px;
}

#content--container #dishes .single--dish__image .image--file {
  border: solid 3px black;
  height: 90%;
  width: auto;
}

#content--container #dishes .single--dish h3 {
  border: none;
  text-align: center;
}

#content--container #dishes .single--dish__values {
  color: whitesmoke;
  font-size: 0.8rem;
}

#content--container #dishes .single--dish__values .list--values {
  margin: 0;
  padding-top: 20px;
}

#content--container #dishes .single--dish__buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

#content--container #dishes .single--dish__buttons .simple_btn {
  background-color: #212121;
  color: gold;
  margin-top: 10px;
  width: auto;
}

#content--container #dishes .arrow--btn__left {
  background: transparent;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid gold;
}

#content--container #dishes .arrow--btn__right {
  background: transparent;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid gold;
}

#day {
  color: antiquewhite;
  margin-top: 20px;
  padding-left: 10px;
  width: 20%;
}

h3 {
  border-bottom: solid 1px antiquewhite;
  color: gold;
  text-align: center;
}

.meal {
  margin: 10px;
}
