#searchBar {
    border-bottom: solid 1px grey;
    color: white;
    display: flex;
    justify-content: flex-end;
    min-height: 30px;
    margin-right: 150px;
    width: 60%;

    p {
        color: gold;
        margin-right: 10px;
    }
}