#menu {
  /*     border: solid 1px aliceblue; */
  display: flex;
  color: gold;
  flex-direction: column;
  width: 14vw;
}

#menu h2 {
  border-bottom: solid 1px whitesmoke;
  color: gold;
  margin-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}

#menu ul {
  margin-top: 50px;
}
