#menu {
  background: linear-gradient(black, #8785a0, black);
  border: solid 3px #1c1c1c;
  border-radius: 12px;
  box-shadow: -4px 6px black;
  color: gold;
  height: 480px;
  width: 14vw;
}

#menu h2 {
  border-bottom: solid 1px whitesmoke;
  color: gold;
  margin-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}

#menu ul {
  margin-top: 50px;
  margin-left: -40px;
}

#menu ul li {
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 0px;
  list-style-type: none;
  text-align: center;
}

#menu ul li:hover {
  color: black;
  background-color: gold;
}
