#recipe--container {
    background: linear-gradient(black, rgb(135, 133, 160), black);
    border-radius: 12px;
    border: solid 2px whitesmoke;
    color: yellow;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    width: 60vw;

    .recipe--container__title {
        align-items: center;
        color: aqua;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
        min-height: 50px;
        text-align: center;
        width: 90%;

        .image {
            align-items: center;
            display: flex;
            height: 180px;
            justify-content: center;
            width: 180px;

            &--file {
                border: solid 3px black;
                height: 80%;
                width: auto;
            }
        }

        .mealTitle {
            width: 100%;

            h1 {

                margin: 0px auto;
                text-align: center;
                text-shadow: none;
            }

            .values--container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 10px 0;
                width: 98%;

                h3 {
                    text-align: left;
                }

                .values {
                    color: gold;
                    padding: 0 8px;
                }
            }

        }


    }

    .btn__close {
        border: solid 3px yellow;
        background: transparent;
        color: yellow;
        height: 30px;
        margin-top: 20px;
    }

    .ingredients {
        align-items: center;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        width: 26%;

        h3 {
            border: none;
        }

        ul {
            margin-top: 6px;
            list-style-type: none;
            padding: 6px;
        }

    }

    .recipe--container__description {
        color: whitesmoke;
        margin-top: -30px;
        width: 70%;

        h3 {
            margin: 10px 0px;
        }
    }

}