#recipe--container {
  background-color: #454545;
  border-radius: 12px;
  border: solid 2px whitesmoke;
  color: yellow;
  display: none;
  /*     display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
  width: 60vw;
}

.recipe--container__title {
  align-items: center;
  /*         border: solid 1px red;   */
  color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  min-height: 50px;
  text-align: center;
  width: 84%;
}

.recipe--container__title .image {
  align-items: center;
  /*         border: solid 3px red; */
  display: flex;
  height: 200px;
  justify-content: center;
  width: 200px;
}

.recipe--container__title .image--file {
  border: solid 3px black;
  height: 80%;
  width: auto;
}

.recipe--container__title .first--row {
  /*         border: solid 1px yellow; */
  width: 100%;
}

.recipe--container__title .first--row h1 {
  margin: 20px auto;
  text-align: center;
}

.recipe--container__title .second--row {
  /*       border: solid 1px blue;  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
  width: 98%;
}

.recipe--container__title .second--row h3 {
  text-align: left;
  /* width: 98%; */
}

.recipe--container__title .second--row .values {
  color: gold;
  padding: 0 8px;
}

.btn__close {
  border: solid 3px yellow;
  background: transparent;
  color: yellow;
  height: 30px;
  margin-top: 20px;
}

.recipe--container__imageAndIgredients {
  align-items: center;
  /*     border: solid 1px yellow; */
  color: aqua;
  display: flex;
  flex-direction: column;
  width: 26%;
}

.recipe--container__imageAndIgredients .ingredients {
  align-items: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe--container__imageAndIgredients .ingredients h3 {
  border: none;
}

.recipe--container__imageAndIgredients .ingredients ul {
  margin-top: 6px;
  list-style-type: none;
  padding: 6px;
}

.recipe--container__description {
  /*     border: solid 1px blue; */
  color: whitesmoke;
  width: 72%;
}
